@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
.me-title {
  & h1 {
    font-size: 70px;
    font-family: 'Comfortaa', cursive;
  }
  & h2 {
    font-family: 'Comfortaa', cursive;
  }

  & img {
    height: 250;
    width: 250;
    padding: 5px;
    background-color: white;
  }
}
.me-social {
  text-align: center;
  & svg {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.me-description {
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
}

.me-card-info {
  & header {
    font-family: 'Comfortaa', cursive;
  }
}

