@import './assets/style/W3.css';
@import './assets/style/Home.scss';
body {
  background-image: url('./assets/images/book-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.w3-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.w3-clean {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.me-project {
  text-decoration: underline #ff9800;
  font-size: 60px;
}

.me-underline {
  &-orange {
    text-decoration: underline #ff9800;
  }
}

.loading-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
}
.me-contact {
  padding-top: 50px;
  padding-left: 50px;
  & .me-icon {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    & .icon {

      font-size: 90px;
      margin-bottom:40px
    }
  }
}

.me-warn-icon {
  margin-bottom: 80px;
  font-size: 100px;
}

.me-margin {
  &-bottom {
    margin-bottom: 100px;
  }
  &-top {
    margin-top: 100px;
  }
}
